.result-section {
  display: flex;
  transition: transform;
}

.result-section__container {
  padding: 0 10vw;
  width: 80vw;
  position: relative;
  float: left;
}

.result-section__month {
  font-weight: 700;
  font-size: 28px;
  opacity: 0.7;
  margin-left: 10px;
}

.result-section__boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.result-section__box {
  width: 260px;
  height: 260px;
  margin: 10px;
  background-color: rgb(235, 235, 235);
  border-radius: 20px;
}

.result-section__large-box {
  width: 260px;
  margin: 10px;
  background-color: rgb(235, 235, 235);
  border-radius: 20px;
}

.result-section__date {
  margin-left: 18px;
  font-size: 18px;
  font-weight: 600;
  opacity: 0.6;
}

.result-section__list {
  margin: 4px 0px;
  padding: 3px 0;
  padding-right: 20px;
  letter-spacing: -0.2px;
  opacity: 0.9;
  font-size: 17px;
  cursor: pointer;
}

.result-section__list:hover {
  color: gray;
}

.fas {
  position: fixed;
  top: 50%;
  z-index: 1;
  cursor: pointer;
}

.fa-chevron-left {
  left: 5%;
}

.fa-chevron-right {
  right: 5%;
}
