@import 'result.css';
@import 'search.css';
@import 'modal.css';
@import 'mobile.css';

.hidden {
  display: none;
}

body {
  background-color: whitesmoke;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

.home-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
}

.home-header__title {
  font-size: 40px;
}
