@import "result.css";
@import "search.css";
@import "modal.css";

.hidden {
  display: none;
  transition: all 1s;
}

body {
  background-color: whitesmoke;
  font-family: "Roboto", sans-serif;
}

.home-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
}

.home-header__title {
  font-size: 45px;
}
