@import "result.css";
@import "search.css";
@import "modal.css";

.hidden {
  display: none;
}

body {
  background-color: whitesmoke;
  font-family: NotoSans Medium, Malgun Gothic, 맑은 고딕, Apple SD Gothic Neo,
    돋움, dotum, sans-serif;
}

.home-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
}
